:root {
  @media (prefers-color-scheme: dark) {
    body {
      background: #1e1e1e;
    }
  }

  @media (prefers-color-scheme: light) {
    body {
      background: #f6f6f6;
    }
  }
}

.image-container {
  overflow: hidden;
  user-select: none;
  position: relative;
}

.sidebar {
  background: white;
}