:root {
  @media (prefers-color-scheme: dark) {
    --scroll-track: #333;
    --scroll-thumb: #666;
    --thumb-border: #333;
    --thumb-hover: #666;
  }

  @media (prefers-color-scheme: light) {
    --scroll-track: #ddd;
    --scroll-thumb: #999;
    --thumb-border: #bbb;
    --thumb-hover: #acf;
  }
}

$SCROLL_TRACK: var(--scroll-track);
$SCROLL_THUMB: var(--scroll-thumb);
$THUMB_BORDER: var(--thumb-border);
$THUMB_HOVER: var(--thumb-hover);

.container {
  &.grid {
    text-align: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: $SCROLL_TRACK;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $SCROLL_THUMB;
      border-radius: 10px;
    }

    .thumb-container {
      position: relative;
      height: auto;
      min-height: 100%;
      box-sizing: border-box;
      padding: 10px;

      .thumb {
        margin: 4px;
        max-width: 128px;
        max-height: 128px;
        border: 4px solid $THUMB_BORDER;
        border-radius: 6px;

        &.current {
          border: 4px solid #68f;
          border-radius: 6px;
          &:hover {
            border-color: #68f;
          }
        }
        &:hover {
          cursor: pointer;
          border-color: $THUMB_HOVER;
        }
        transition: border-color 0.3s ease-in-out;
      }
    }
  }
}
