@mixin Icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: rgb(199, 199, 204);
  &:hover {
    cursor: pointer;
  }
  &:active {
    fill: rgb(255, 255, 255);
  }
}

.container {
  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
    transition: opacity 0.8s ease-in-out;

    .folder {
      position: absolute;
      left: 30px;
      display: flex;
      height: 60px;
      align-items: center;
      padding: 0 6px;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.7);
      user-select: none;
      .icon {
        @include Icon();
      }
    }

    .toolbar {
      display: flex;
      height: 60px;
      align-items: center;
      padding: 0 24px;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.7);
      user-select: none;

      .grid {
        width: 70px;
        display: flex;
        justify-content: flex-start;
        .icon {
          @include Icon();
        }
      }

      .arrows {
        display: flex;
        .icon {
          @include Icon();
        }
      }

      .trash {
        width: 70px;
        display: flex;
        justify-content: flex-end;
        .icon {
          @include Icon();
        }
      }
    }
  }
}
