* {
  margin: 0;
  padding: 0;
}

:root {
  @media (prefers-color-scheme: dark) {
    .container {
      background: #1e1e1e;
    }
  }

  @media (prefers-color-scheme: light) {
    .container {
      background: #f6f6f6;
    }
  }
}

html,
body,
#root {
  height: 100%;

  .container {
    height: 100%;
    overflow: hidden;
    user-select: none;
    position: relative;
  }
}
