:root {
  @media (prefers-color-scheme: dark) {
    .container {
      background: #1e1e1e;
    }
  }

  @media (prefers-color-scheme: light) {
    .container {
      background: #f6f6f6;
    }
  }
}

.container {
  height: 100%;
  overflow: hidden;
  user-select: none;
  position: relative;
}
