:root {
  @media (prefers-color-scheme: dark) {
    --scroll-track: #333;
    --scroll-thumb: #666;
    --thumb-border: #333;
    .container {
      background: #1e1e1e;
    }
  }

  @media (prefers-color-scheme: light) {
    --scroll-track: #ddd;
    --scroll-thumb: #999;
    --thumb-border: #ddd;
    .container {
      background: #f6f6f6;
    }
  }
}

$SCROLL_TRACK: var(--scroll-track);
$SCROLL_THUMB: var(--scroll-thumb);
$THUMB_BORDER: var(--thumb-border);

.container {
  height: 100%;
  overflow: hidden;
  user-select: none;
  position: relative;

  &.grid {
    text-align: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: $SCROLL_TRACK;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $SCROLL_THUMB;
      border-radius: 10px;
    }

    .thumb-container {
      position: relative;
      height: auto;
      min-height: 100%;
      box-sizing: border-box;
      padding: 10px;

      .thumb {
        margin: 4px;
        max-width: 128px;
        max-height: 128px;
        border: 4px solid $THUMB_BORDER;
        border-radius: 6px;

        &.current {
          border: 4px solid #68f;
          border-radius: 6px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
    transition: opacity 0.8s ease-in-out;
  }

  .view {
    height: 100%;
    z-index: 0;
    background-color: transparent;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &.init {
      cursor: default;
    }
  }
}
