:root {
  @media (prefers-color-scheme: dark) {
    --scroll-track: #333;
    --scroll-thumb: #666;
    --thumb-border: #333;
    --thumb-hover: #666;
  }

  @media (prefers-color-scheme: light) {
    --scroll-track: #ddd;
    --scroll-thumb: #999;
    --thumb-border: #bbb;
    --thumb-hover: #bbf;
  }
}

$SCROLL_TRACK: var(--scroll-track);
$SCROLL_THUMB: var(--scroll-thumb);
$THUMB_BORDER: var(--thumb-border);
$THUMB_HOVER: var(--thumb-hover);

$THUMB_SIZE: 128px;
$WRAPPER_SIZE: 148px;

.container {
  &.grid {
    text-align: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: $SCROLL_TRACK;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $SCROLL_THUMB;
      border-radius: 10px;
    }

    .grid-content {
      height: auto;
      min-height: 100%;

      .thumb-container {
        padding: 10px;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(auto-fill, $WRAPPER_SIZE);
        grid-template-columns: repeat(auto-fill, $WRAPPER_SIZE);

        .wrapper {
          width: $WRAPPER_SIZE;
          height: $WRAPPER_SIZE;
          display: grid;
          align-content: flex-end;
          justify-content: center;

          .thumb {
            margin: 4px;
            max-width: $THUMB_SIZE;
            max-height: $THUMB_SIZE;
            border: 4px solid $THUMB_BORDER;
            border-radius: 6px;
            transition: border-color 0.3s ease-in-out;

            &.current {
              border: 4px solid #68f;
              border-radius: 6px;
              &:hover {
                border-color: #68f;
              }
            }
            &:hover {
              cursor: pointer;
              border-color: $THUMB_HOVER;
            }
          }
        }
      }
    }
  }
}
