.container {
  .view {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: transparent;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &.init {
      cursor: default;
    }
  }
}
