* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d3557;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

a {
  color: rgb(26, 207, 139);
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  width: 80vw;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.header {
  padding: 20px;
  text-align: center;
}

.title {
  color: #33415c;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.lead {
  margin-top: 1em;
  color: #33415c;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}

.banner {
  margin: 2em auto;
  max-width: 80%;
}

.os {
  margin: 10px auto;
  padding: 0.5em 1em;
  max-width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1d3557;
}

.os:hover {
  background-color: #3d5577;
}

.os:active {
  background-color: #1d3557;
}

.download {
  margin-left: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.features {
  color: #ffffff;
  background-color: rgb(0, 138, 243);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.privacy {
  background-color: #ffffff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screenshot {
  max-width: 60vw;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.paragraph {
  width: 80%;
  max-width: 640px;
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.policy {
  color: #33415c;
  margin-left: 2em;
}

.footer {
  background-color: rgb(26, 207, 139);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.size {
  color: #a8dadc;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.issues {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-decoration: underline;
}

.github {
  margin: 20px 0;
}
