@mixin transitionAll {
  transition: all 0.3s ease-out;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  overflow: hidden;

  .sidebar {
    flex: 1 0 0;
    background-color: rgb(37, 37, 38);
    @include transitionAll();
  }

  .collapsed {
    flex: 1 0 200px;
  }

  .content {
    flex: auto;
    width: 100%;
    position: relative;
    @include transitionAll();

    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
      transition: opacity 0.8s linear;

      .toolbar {
        display: flex;
        height: 60px;
        align-items: center;
        padding: 0 24px;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.5);

        .map {
          height: 100%;
          background-color: transparent;
        }

        .controls {
          width: 144px;
          display: flex;
          justify-content: flex-start;
        }

        .arrows {
          display: flex;
        }

        .trash {
          width: 144px;
          display: flex;
          justify-content: flex-end;
        }

        .icon-container {
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(174, 174, 178);
          &:hover {
            cursor: pointer;
          }
          &:active {
            color: rgb(242, 242, 247);
          }
        }
      }
    }
  }
}
