@mixin sidebar {
  background-color: rgb(37, 37, 38);
  grid-row: 1;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(115, 115, 115, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
}

@mixin thumb {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 88px;
  background-color: #323232;
  border-radius: 4px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

@mixin content {
  height: 100%;
  background-color: #323232;
  overflow: hidden;
  user-select: none;
  position: relative;
  grid-row: 1;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.wrapper {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 200px 1fr;
  user-select: none;

  .sidebar {
    @include sidebar();
    grid-column: 1 / 2;
  }

  .sidebar-hide {
    @include sidebar();
    grid-column: 1 / 1;
  }

  .sidebar-header {
    width: 176px;
    height: 36px;
    padding: 0 10px;
    background-color: rgb(30, 30, 30);
    color: rgb(174, 174, 178);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .dirname {
      margin-left: 10px;
      font-size: 12px;
      font-family: Roboto;
      overflow: hidden;
      white-space: nowrap;
      width: 168px;
      text-overflow: ellipsis;
    }
  }

  .sidebar-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    user-select: none;

    .thumb {
      @include thumb();
      border: 4px solid rgba(115, 115, 115, 0.5);
    }

    .thumb-focus {
      @include thumb();
      border: 4px solid rgb(0, 122, 255);
    }

    .thumb-item {
      max-width: 120px;
      max-height: 80px;
    }
  }

  .content {
    @include content();
    grid-column: 1 / 3;
  }

  .content-side {
    @include content();
    grid-column: 2 / 3;
  }

  .map {
    height: 100%;
    z-index: 0;
    background-color: transparent;
    cursor: default;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    transition: opacity 0.8s linear;

    .toolbar {
      display: flex;
      height: 60px;
      align-items: center;
      padding: 0 24px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.5);
      user-select: none;

      .controls {
        width: 144px;
        display: flex;
        justify-content: flex-start;
      }

      .arrows {
        display: flex;
      }

      .trash {
        width: 144px;
        display: flex;
        justify-content: flex-end;
      }

      .icon-container {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(174, 174, 178);
        &:hover {
          cursor: pointer;
        }
        &:active {
          color: rgb(242, 242, 247);
        }
      }
    }
  }
}
